li {
  background-color: #fff;
  padding: 0.5em;
  text-align: right;
  cursor: pointer;
}

.day-number {
  margin: 0.2em;
  text-align: right;
}

.current-day {
  font-weight: bold;
  text-decoration: underline;
}

.first-day {
  grid-column-start: var(--first-day-start, 0);
}

.days-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 1em;
}

.days-events {
  background-color: lightseagreen;
  border-radius: 20%;
  cursor: help;
  display: inline;
  font-size: 0.7em;
  margin: 0.2em;
  padding: 0.2em;
}
