.day-item {
  background-color: #fff;
  padding: 0.5em;
  text-align: right;
}

.day-item:hover {
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 2px 3px 0 rgba(63, 63, 68, 0.15);
}

.day-number {
  margin: 0.2em;
  text-align: right;
}
.current-day {
  font-weight: bold;

  background-color: #f5f5f5;
  border-radius: 50%;
  padding: 0.2em;
}

.first-day {
  grid-column-start: var(--first-day-start, 0);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.header-section:hover {
  font-weight: bolder;
}
.hover-to-show {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.hover-to-show-action:hover .hover-to-show {
  opacity: 1;

  color: #fa7f72;
  font-weight: bolder;
  transition: all 0.2s ease-in-out;
}

.days-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 1em;
}

.days-events {
  background-color: #ebebeb;
  border-radius: 20%;
  cursor: pointer;
  color: #fa7f72;
  display: inline;
  font-size: 0.7em;
  margin: 0.2em;
  padding: 0.2em;
}

.days-events:hover {
  background-color: #fa7f72;
  color: #ebebeb;
}
