ol {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}
.weekday {
  background-color: #eee;
  font-weight: bold;
  text-align: center;
}
